@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply w-full max-w-[1300px] mx-auto  px-[20px] tablet:px-[80px];
}

/* p1 ( mt-5) */
/* button1 ( margin top : 50px ) */

/* gradient */

/* Fonts */

.heading-1 {
  @apply text-dark font-bold leading-[.95] text-h1sm desktop:text-h1;
}

.heading-2 {
  @apply text-dark font-bold text-h2sm tablet:text-h2;
}

.p {
  @apply font-medium text-bodysm tablet:text-body leading-[1.6];
}

.p1 {
  @apply text-gray font-medium text-bodysm tablet:text-body leading-[1.6];
}

.p2 {
  @apply text-sm leading-[1.6];
}

.services-txt {
  @apply text-base font-medium text-body;
}

.nav-link {
  @apply text-dark text-sm font-medium px-6 border-r border-lightGray;
}

.plus {
  @apply text-accent font-bold pr-3;
}

.plus-r {
  @apply text-accent font-bold pl-3 hidden desktop:inline;
}

/* Text Groups  */

.plus-group {
  @apply text-gray font-medium text-sm mt-10 space-y-3;
}

/* buttons */

.btn-1 {
  @apply text-sm font-medium text-white px-[32px] py-[16px] rounded-[10px] bg-gradient-to-r  from-base2 to-base hover:from-base hover:to-base;
}

.btn-2 {
  @apply text-sm font-medium text-dark px-[32px] py-[16px] rounded-[10px] bg-gradient-to-r  from-[#E0DFFF] to-white;
}

.btn-sm {
  @apply text-sm font-medium text-white px-[16px] py-[5px] rounded-lg bg-gradient-to-r  from-base2 to-base;
}

/* .back-to-top {
  @apply text-sm font-medium text-white px-[32px] py-[16px] rounded-xl bg-gradient-to-r  from-base2 to-base;
} */

/* prices section */

.included-list {
  @apply flex flex-col space-y-4 mt-10;
}

.included-item {
  @apply flex items-center space-x-4;
}

.item-txt {
  @apply p2 text-gray;
}

.checked {
  @apply text-base text-2xl;
}

.unchecked {
  @apply text-gray text-2xl;
}

/* other boxes */

.box {
  @apply border-dark rounded-[30px] relative px-8  py-8 desktop:px-[50px] desktop:py-[70px] hover:cursor-pointer ease-in-out duration-200;
}

.box p {
  @apply font-medium text-bodysm tablet:text-body leading-[1.6] w-full max-w-[480px] mt-5;
}

.link-btn {
  @apply text-4xl  absolute top-10 right-10;
}
