@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply w-full max-w-[1300px] px-[20px] mx-auto;
}

/* Fonts */

.heading-1 {
  @apply text-dark font-bold leading-[.95] text-h1sm desktop:text-h1;
}

.heading-2 {
  @apply text-dark font-bold text-h2sm tablet:text-h2;
}

.p1 {
  @apply text-gray font-medium text-bodysm tablet:text-body leading-[1.6];
}

.p2 {
  @apply text-sm leading-[1.6];
}

.services-txt {
  @apply text-base font-medium text-body;
}

.nav-link {
  @apply text-dark text-sm font-medium px-6 border-r border-lightGray;
}

/* buttons */

.btn-1 {
  @apply text-sm font-medium text-white px-[32px] py-[16px] rounded-xl bg-gradient-to-r  from-base2 to-base hover:from-base hover:to-base;
}

.btn-2 {
  @apply text-sm font-medium text-dark px-[32px] py-[16px] rounded-xl bg-gradient-to-r  from-[#E0DFFF] to-white;
}

.btn-sm {
  @apply text-sm font-medium text-white px-[16px] py-[5px] rounded-lg bg-gradient-to-r  from-base2 to-base;
}

/* .back-to-top {
  @apply text-sm font-medium text-white px-[32px] py-[16px] rounded-xl bg-gradient-to-r  from-base2 to-base;
} */

/* Text Groups  */

.txt-group-1 {
  @apply space-y-10;
}
